/*
NOT AN IMPORTABLE CLASS
CREATED TO BE REUSED IN STANDARD CASES
*/

%border-image {
    -moz-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
	-webkit-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
	-o-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
	border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
}